/* Theme */
$bg: #131313;
$active-bg: #1a1a1a;
$hover-bg: #1a1a1a;
$fg: #d2d2d2;
$nav-bg: #4e2b2b; /* Changed to a red hue */
$title-fg: #b53a3a; /* Changed to a red hue */
$taproot: #d1614d;
$taproot-light: #db8370;
$taproot-dark: #742f06;
/* Bootstrap */
$body-bg: $bg;
$body-color: $fg;
$gray-800: $bg;
$gray-700: $fg;
$nav-tabs-link-active-bg: $active-bg;
$primary: #b53a3a; /* Changed to a red hue */
$secondary: #2b2b2b;
$tertiary: #db8370;
$success: #0aab2f;
$info: #ff6347; /* Changed to a red hue */
$h5-font-size: 1.15rem !default;
$pagination-bg: $body-bg;
$pagination-border-color: $gray-800;
$pagination-disabled-bg:           $fg;
$pagination-disabled-border-color: $bg;
$pagination-active-color:          $fg;
$pagination-active-bg:             $tertiary;
$pagination-hover-bg:              $hover-bg;
$pagination-hover-border-color:     $bg;
$pagination-disabled-bg:          $bg;
$custom-select-indicator-color: $fg;
.input-group-text {
  background-color: #131313 !important;
  border: 1px solid #131313 !important;
}
$link-color:                $info;
$link-decoration:           none !default;
$link-hover-color:          darken($link-color, 15%) !default;
$link-hover-decoration:     underline !default;
$dropdown-bg: $bg;
$dropdown-link-color: $fg;
$dropdown-link-hover-color: $fg;
$dropdown-link-hover-bg: $active-bg;
$dropdown-link-active-color: $fg;
$dropdown-link-active-bg: $active-bg;
:root {
  --bg: #{$bg};
  --active-bg: #{$active-bg};
  --hover-bg: #{$hover-bg};
  --fg: #{$fg};
  --nav-bg: #{$nav-bg};
  --title-fg: #{$title-fg};
  --primary: #{$primary};
  --secondary: #{$secondary};
  --tertiary: #{$tertiary};
  --success: #{$success};
  --info: #{$info};
  --link-color: #{$link-color};
  --link-hover-color: #{$link-hover-color};
  --icon: #d2d2d2;
  --skeleton-bg: #131313;
  --skeleton-bg-light: #5d6182;
  --box-bg: #131313;
  --stat-box-bg: #131313;
  --alert-bg: #d1614d;
  --transparent-fg: #ffffffbb;
  --fade-out-box-bg-start: rgba(23, 28, 42, 0);
  --fade-out-box-bg-end: rgba(23, 28, 42, 1);
  --opacity: 0.9;
  --testnet: #7b2222; /* Changed to a red hue */
  --signet: #6f1d5d;
  --liquid: #761616; /* Changed to a red hue */
  --liquidtestnet: #4e2b2b; /* Changed to a red hue */
  --mainnet-alt: #9339f4;
  --testnet-alt: #7b2222; /* Changed to a red hue */
  --signet-alt: #471850;
  --liquidtestnet-alt: #4e2b2b; /* Changed to a red hue */
  --taproot: #d1614d;
  --taproot-light: #db8370;
  --taproot-dark: #742f06;
  --green: #83fd00;
  --red: #ff3d00;
  --yellow: #fff000;
  --grey: #7e7e7e;
  --tooltip-grey: #b1b1b1;
  --orange: #e19987;
  --search-button: #db8370;
  --search-button-border: #db8370;
  --search-button-focus: #d1614d;
  --search-button-shadow: #d1614d;
}
.navbar {
  --secondary: #5d3333; /* Changed to a red hue */
}
.nav-item.active, .btn-purple {
  --icon: white;
}
.btn-purple:not(:disabled):not(.disabled):active, .btn-purple:not(:disabled):not(.disabled).active, .show > .btn-purple.dropdown-toggle {
  color: #fff;
  background-color: var(--search-button);
  border-color: var(--search-button-border);
}
.btn-purple:focus, .btn-purple.focus {
  color: #fff;
  background-color: var(--search-button-focus);
  border-color: var(--search-button);
  box-shadow: 0 0 0 0.2rem var(--search-button-shadow);
}
.btn-purple:hover {
  color: #fff;
  background-color: var(--search-button-focus);
  border-color: var(--search-button);
}
.bitcoin-block:before{
  background-color: #131313!important;
}
.bitcoin-block:after{
  background-color: #1e1e1e!important;
}

#mempool-block-0{
  background-color: #313131!important;
  background: #313131!important;
}

.btn-primary {
  background-color: var(--primary)!important;
  border-color: var(--primary)!important;
}

.btn-primary:hover {
  background-color: var(--taproot)!important;
  border-color: var(--taproot)!important;
}

.btn-outline-info {
  color: #db8370!important;
  border-color: #db8370!important;
}

.btn-outline-info:hover {
  color: #ffffff!important;
  background-color: #db8370!important;
  border-color: #db8370!important;
}